@import "~bootstrap/scss/bootstrap";

// @import '../img/movieCollage1.jpg';
html,  body  {
    height:  100%;
    background:  #333 ; //url(./movieCollage1.jpg)
    background-size:  cover;
}

body  {
    color:  #fff;
    text-align:  center;
    text-shadow:  0 1px 3px rgba(0, 0, 0, .5);
    // background-image: url(src/img/movieCollage1.jpg);
}

.footer {
    background: #061D25;
    padding: 10px 0;
  }
  
  .footer a {
    color: #70726F;
    font-size: 20px;
    padding: 12px;
    // border-right: 1px solid #70726F;
    transition: all .5s ease;
  }

.footer #copyright{
    color: #ffffff85;
    padding: 20px;
  }

  .footer a:hover {
    color: rgb(201, 190, 97);
  }

  form.form-inline.text-center.search1 {
    margin-left: 30%;
}

#topMoviesContainer2 {
  flex-wrap: nowrap;
}

.scrollMovie {
  border: 1px solid black;
  width: 100px;
  overflow: auto;
}
  //making this website responsive
  // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {

// }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }


//   @media only screen and (max-width: 767px) {
//     .middleSection ,.bottomSection {
//         flex-wrap: wrap;
//     }
//     .middleSection div .bottomSection div {
//         flex:1 1 100%;
//     }
    
// }

// /* max-width: 991px */
// @media only screen and (max-width: 991px) {
//     .middleSection ,.bottomSection {
//         flex-wrap: wrap;
//     }
//     .middleSection div .bottomSection div {
//         flex:1 1 50%;
//     }
    
// }
// /* min-width:30em */
// /* min-width: 200px */
// @media only screen and (min-width: 200px) {
//     .middleSection ,.bottomSection {
//         flex-wrap: wrap;
//     }
//     .middleSection div .bottomSection div{
//         flex:1 1 100%;
//     }
    
// }